.mainWrapper {
  position: relative;
  top: 56px;
  text-align: center;
  margin: 0 0 10px 0;
}

embed {
  width: 80%;
  height: 750px;
  padding: 20px;
  margin: 20px;
  background: rgba(87, 87, 87, 0.5);
  border-radius: 8px;
  box-shadow: 4px 4px 8px rgba(255, 255, 255, 0.5);
}